body{
   background: url('../img/groovepaper.png');
   padding: 15px;
   font-size: 18px;
   line-height: 24px;
   border-top: 3px solid #08C;
}

h1, h2, h3, h4, h5, h6{
   font-family: 'Antic', sans-serif;
}

.main{
   margin-left: 10%;
   margin-right: 10%;
}

.content-box{
   padding: 10px;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
}

.content-box h4{
   color: #08C;
   margin-top: 24px;
   margin-bottom: 5px;
}

.content-box h4:first-child{
   margin-top: 0;
}

.sidebar{
   font-family: 'Antic', sans-serif;
   font-size: 18px;
   line-height: 24px;
   margin-bottom: 40px;
}

.contact-info{
   margin-left: 10%;
   margin-right: 0;
}

/* Profile style */
.profile
{
   margin: 20px 5% 20px 5%;
   width: 90%;
   -webkit-transform: rotate(-1.5deg);
   -moz-transform: rotate(-1.5deg);
}

.profile:hover .profile-hover{
  display: block;
}

.profile:hover .profile-start{
  display: none;
}

.profile-hover{
  display: none;
}


.profile img{
   -moz-box-shadow: 0 0 2px #888;
   -webkit-box-shadow: 0 0 2px#888;
   box-shadow: 0 0 2px #888;
   background: #888;
}
/* Shared styles */


.profile > :first-child:before {
   content:"";
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background:#fff;
   -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
           box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.profile{
   position:relative;
   float:left;
   background:#fff;
   -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
           box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.profile:before,
.profile:after {
   content:"";
   position:absolute;
   z-index:-2;
}

.profile p {
   font-size:16px;
   font-weight:bold;
}

/* Lifted corners */

.profile {
   -moz-border-radius:4px;
        border-radius:4px;
}

.profile:before,
.profile:after {
   bottom:15px;
   left:10px;
   width:50%;
   height:20%;
   max-width:300px;
   max-height:100px;
   -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
      -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
           box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform:rotate(-3deg);
      -moz-transform:rotate(-3deg);
       -ms-transform:rotate(-3deg);
        -o-transform:rotate(-3deg);
           transform:rotate(-3deg);
}

.profile:after {
   right:10px;
   left:auto;
   -webkit-transform:rotate(3deg);
      -moz-transform:rotate(3deg);
       -ms-transform:rotate(3deg);
        -o-transform:rotate(3deg);
           transform:rotate(3deg);
}

