<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Reed La Botz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link href="css/master.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Antic' rel='stylesheet' type='text/css'>


   
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="span3 sidebar">
          <div class="profile"><img class="profile-start" src="img/profile.jpg"><img class="profile-hover" src="img/profile_b.jpg"></div>
          <div class="clearfix"></div>
          <div class="contact-info">
            <h3>Reed La Botz</h3>
            <p>
              <a href="mailto:me@reedlabotz.com"><i class="icon-envelope-alt"></i> Get in touch</a>
            </p>
            <p>
              <a href="ReedLaBotz.pdf"><i class="icon-file"></i> See my resume</a>
            </p>
            <p>
              <a href="https://github.com/reedlabotz"><i class="icon-github"></i> Me on GitHub</a>
            </p>
            <p>
              <a href="https://plus.google.com/107763893793588224547"><i class="icon-google-plus"></i> +Reed La Botz</a>
            </p>
          </div>
        </div>
        <div class="span9">
          <div class="main">
